@import "vendors/normalize";
@import "partials/variables";

// Medium screens and up
// @media (min-width: 768px) {
//     .container {
//       background-color: yellow;
//     }
//   }
//   // Big screens
//   @media (min-width: 1024px) {
//     .container {
//       background-color: navy;
//     }
//   }


.main-hero{
    min-height: 60vh;
    background-image: url("../assets/images/charles-K4mSJ7kc0As-unsplash.jpg")
    background-size cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  
.heading{
    margin-bottom: 200px;
    text-align: center;}

.second-hero { min-height: 60vh;
  background-image: url("../assets/images/charles-K4mSJ7kc0As-unsplash.jpg")
  background-size cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second{
  margin-bottom: 200px;
    text-align: center;
}