@import "vendor/normalize";
@import "partials/variables";
@import "partials/variables";

h2,h3,h4,h6 {color:black;
    font-family:'Mate', serif;
    font-size:20px;
}
h1,h5{color:#480074;
font-family:'Acme', sans-serif;
font-size:40px;
}

.main-hero{
    min-height: 60vh;
    background-image: url("../assets/images/charles-K4mSJ7kc0As-unsplash.jpg")
    background-size cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    margin-bottom: 200px;
    text-align: center;}